<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>About</h2>
            <p>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbspI am a full stack web developer.  I hold two Bachelor of Science degrees from Friends University and am a Centriq Training student.  I have worked as a department head of rentals as manager where I created the department I ran from scratch. I held a CDL class B for 9 years and worked several jobs that required a high degree of time management skills, speaking and critical thinking in completing jobs and situation assessments.
            </p>
            <br />
            <p>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbspI'm making the move to IT because I wanted to reinvent my professional self.  The last 20 months I have studied several programing languages and technologies on my own and attended Centriq where I furthered and expanded those skills.  I have found that I have a passion for creating with code and troubleshooting especially in paired programming situations. I really enjoy SQL and the logic in C#.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">

                <img src="~/assets/img/ProfilePic_1_Sean.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Full Stack Web Developer.</h3>
                <p class="fst-italic">
                    &nbsp&nbsp&nbsp&nbspLooking for a job in IT. I would like to work in C# and SQL but I have a flare for the front end as well.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>3 September 1980</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.mckinneywebdev.com</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+1 (316) 721-5719</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Wichita, KS, USA</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>

                            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B.S. Zoo Science / B.S. Field Biology / Centriq Training</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>seanamckinney8@gmail.com / seanamckinney8@outlook.com</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                        </ul>
                    </div>
                </div>
                <p>
                    &nbsp&nbsp&nbsp&nbspI am very excited for my first opportunity in my new career path of IT. I am looking for a workplace with a strong team environment. I am
                    very good on my own and am task oriented but I believe that not only I would benefit most from the type of structure but employers would as well. I have shown
                    at Centriq that I am capable of not only being a great team member but taking the lead when needed. I am a firm believer that paird programming is a excellent practice and I know I will thrive in this type of environment.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Skills</h2>
            <p>Front End: HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS, XAML</p>
            <p>Middle Tier: C#.NET, ASP.NET, LINQ, MVC, EF, ASP.NET Web API</p>
            <p>Back End: ADO.NET, SQL, SQL Server</p>
            <p>IDEs: Visul Studio (VS), Visual Studio Code, SQL Server Managment Studio (SSMS)</p>
        </div>

        <div class="row skills-content">

            <div class="col-lg-6" data-aos="fade-up">

                <div class="progress">
                    <span class="skill">HTML <i class="val">100%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">CSS <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">JavaScript <i class="val">75%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                <div class="progress">
                    <span class="skill">C# <i class="val">85%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">SQL <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">XAML <i class="val">50%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section><!-- End Skills Section -->
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <h5><a href="~/assets/img/seanamckinneyresumeIT.pdf" target="_blank">Full Resume Link</a></h5>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Sean McKinney</h4>
                    <p><em>Innovative and deadline-driven Full Stack Web Develper with 1.5 years of self education in HTML5, CSS3, JS, C#, XAML and SQL using SSMS, VS, and VSC materials. Now having completed the Full Stack Web Development track from Centriq Training, I posses the skills to create Full Stack applications.</em></p>
                    <ul>
                        <li> Wichita, KS</li>
                        <li>(316) 721-5719</li>
                        <li>seanamckinney8@gmail.com</li>
                        <li>seanamckinney8@outlook.com</li>
                        <li>mckinneywebdev.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Centriq Training</h4>
                    <h5>2022</h5>
                    <p><em>Centriq Training 1740 W. 92nd St. Kansas City, MO 64114</em></p>
                    <p>A cutting edge IT curriculum— developed by IT professionals and coders designed to give Centriq grads the technology or coding job skills that are in demand today. </p>
                </div>
                <div class="resume-item">
                    <h4>Bachelor of Science - Zoo Science</h4>
                    <h5>2008 - 2012</h5>
                    <p><em>Friends University 2100 W. University Ave. Wichita, KS 67213</em></p>
                    <p>Friends University is one of only three post-secondary schools in the United States to offer a hands-on, four-year zoo science degree, which is also affiliated with the AZA-accredited Sedgwick County Zoo.</p>
                </div>
                <div class="resume-item">
                    <h4>Bachelor of Science - Field Biology</h4>
                    <h5>2008 - 2012</h5>
                    <p><em>Friends University 2100 W. University Ave. Wichita, KS 67213</em></p>
                    <p>Friends University B.S. in Biology requires 67 credit hours in hard science including courses in math such as Statistics and Bio Statistics.</p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Recent Work History</h3>
                <div class="resume-item">
                    <h4>Bus Driver</h4>
                    <h5>2016 - 2017</h5>
                    <p><em>First Student, Wichita, KS </em></p>
                    <ul>
                        <li>Required excellent time management skills to complete both pick-up and drop off of 3 routs a day.</li>
                        <li>Responisble for daily bus inspections, both safty and mechanical. </li>
                        <li>Supervise and maintain student safty while on or around the bus.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Route Driver</h4>
                    <h5>2015 - 2016</h5>
                    <p><em>Cintas, Wichita, KS</em></p>
                    <ul>
                        <li>Developed sales skills and speaking skills with customers.</li>
                        <li>Managed 4 independant routs a week.</li>
                        <li>Responsible for vehicle safty inspections.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Driver / Installer</h4>
                    <h5>2014 - 2015</h5>
                    <p><em>Linn Star Transfer, Wichita, KS</em></p>
                    <ul>
                        <li>Developed speaking skills with customers daily.</li>
                        <li>Managed a team in different work environments to execute job.</li>
                        <li>Improved situational and critical thinking skills in problem solving and logistical senarios.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Route Driver</h4>
                    <h5>2013 - 2014</h5>
                    <p><em>United Parcel Service (UPS), Wichita, KS</em></p>
                    <ul>
                        <li>Responsible for cosmetic, saftey and loading bay inspections daily.</li>
                        <li>Managed a route with commercial, industrial and residential customers and saw to their needs daily.</li>
                        <li>Developed time management skills as well as helping other drivers when I finished early.</li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio / Project Links</h2>
        </div>

        <div id="accordion" class="ui-widget">
            <h3 class="ui-widget-header ui-accordion-header">Staic Web Project</h3>
            <div>
                <div class="row portfolio-container ui-widget-content" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <h5>Cat-itudes Static Web Page</h5>
                            <img src="~/assets/img/portfolio/CatitudesProjectLinkPic.jpg" class="img-fluid" alt="Catitudes Project Pic">
                            <div class="portfolio-links">
                                <a href="~/assets/img/portfolio/CatitudesProjectLinkPic.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Cat-itudes Project">
                                    <i class="bx bx-plus">
                                    </i>
                                </a>
                                <a href="http://catitudes.mckinneywebdev.com/" target="_blank" title="Cat-itudes Static Project"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Console C# Application</h3>
            <div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <h5>Fight of Flight Dungeon App</h5>
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/Dungeon_App_Portfolio_Pic.JPG" class="img-fluid" alt="Fight or Flight Dungeon Game Picture">
                        <div class="portfolio-links">
                            <a href="~/assets/img/portfolio/Dungeon_App_Portfolio_Pic.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Fight or Flight Dungeon Screen Shot"><i class="bx bx-plus"></i></a>
                            <a href="https://github.com/SeanAMcKinney/DungeonApp" target="_blank" title="Fight or Flight Dungeon GitHub Code Link"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <h3>MVC/EF Storefront Project</h3>
            <div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <h5>The Pickleball Storefront</h5>
                    <div class="portfolio-wrap">                       
                        <img src="~/Content/img/ThePickleballStorePersonalSitePic.PNG" class="img-fluid" alt="The Pickleball Storefront Project">
                        <div class="portfolio-links">
                            <a href="~/Content/img/ThePickleballStorePersonalSitePic.PNG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="The Pickleball Storefront Project Screen Shot"><i class="bx bx-plus"></i></a>
                            <a href="http://www.storefront.mckinneywebdev.com" target="_blank" title="The Pickleball Storefront Project Link"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <h3>To-Do Grocery List React Application</h3>
            <div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <h5>To-Do Grocery List React Application</h5>
                    <div class="portfolio-wrap">

                        <img src="~/Content/img/ToDoAppPersonalSite.PNG" class="img-fluid" alt="To-Do Grocery List React Application">
                        <div class="portfolio-links">
                            <a href="~/Content/img/ToDoAppPersonalSite.PNG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="ToDo App Grocery List"><i class="bx bx-plus"></i></a>
                            <a href="https://github.com/SeanAMcKinney/react_todo" target="_blank" title="To-Do Grocery List React Application GitHub Code Link"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div> 
            <h3>To-Do API</h3>
            <div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <h5>To-Do API</h5>
                    <div class="portfolio-wrap">

                        <img src="~/Content/img/ToDoAPIPic.PNG" class="img-fluid" alt="To-Do Grocery List React Application">
                        <div class="portfolio-links">
                            <a href="~/Content/img/ToDoAPIPic.PNG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="ToDo API"><i class="bx bx-plus"></i></a>
                            <a href="https://github.com/SeanAMcKinney/ToDoAPI" target="_blank" title="To-Do API GitHub Code Link"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Catitudes Enrolment Service Application</h3>
            <div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <h5>Catitudes Enrollment Service Application</h5>
                    <div class="portfolio-wrap">                     
                        <img src="~/assets/img/personalsitepicforJandSSATProject.PNG" class="img-fluid" alt="Catitudes Enrolment Service Application">
                        <div class="portfolio-links">
                            <a href="~/assets/img/personalsitepicforJandSSATProject.PNG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Catitudes Enrolment Service ApplicationI"><i class="bx bx-plus"></i></a>
                            <a href="http://satproject.mckinneywebdev.com/" target="_blank" title="Catitudes Enrolment Service Application Link"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>
</section><!-- End Portfolio Section -->
<!-- ======= Classmates ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Centriq Classmates</h2>
            <p>A list of friends / classmates whom I reccomend you check out.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up">
                        <img src="~/assets/img/Clasmates/Zak.jpg" class="testimonial-img" alt="Zakary Sissler">
                        <h3>Zakary Sisler</h3>
                        <h4><a href="http://zaksisler.com/" target="_blank">Personal Site</a></h4>
                        <h4><a href="https://www.linkedin.com/in/zakary-sisler/" target="_blank"><i class="bx bxl-linkedin"></i></a></h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                        <img src="~/assets/img/Clasmates/Romeo.jpg" class="testimonial-img" alt="Romeo Bagunu">
                        <h3>Romeo Bagunu</h3>
                        <h4><a href="" target="_blank">Personal Site</a></h4>
                        <h4><a href="https://www.linkedin.com/in/romeo-bagunu/" target="_blank"><i class="bx bxl-linkedin"></i></a></h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                        <img src="~/assets/img/Clasmates/Austin.jpg" class="testimonial-img" alt="Austin Wallace">
                        <h3>Austin Wallace</h3>
                        <h4><a href="http://austinwallace.net/" target="_blank">Personal Site</a></h4>
                        <h4><a href="https://www.linkedin.com/in/aus-wallace/" target="_blank"><i class="bx bxl-linkedin"></i></a></h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                        <img src="~/assets/img/Clasmates/Matt.jpg" class="testimonial-img" alt="Matt Roberts">
                        <h3>Matt Roberts</h3>
                        <h4><a href="" target="_blank">Personal Site</a></h4>
                        <h4><a href="https://www.linkedin.com/in/mattroberts-dev/" target="_blank"><i class="bx bxl-linkedin"></i></a></h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">

                        <img src="~/assets/img/Clasmates/Kayla.jpg" class="testimonial-img" alt="Kayla Nguyen">
                        <h3>Kayla Nguyen</h3>
                        <h4><a href="" target="_blank">Personal Site</a></h4>
                        <h4><a href="https://www.linkedin.com/in/kayla-n-nguyen/" target="_blank"><i class="bx bxl-linkedin"></i></a></h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        <img src="~/assets/img/Clasmates/Connor.jpg" class="testimonial-img" alt="Conor Dunn">
                        <h3>Connor Dunn</h3>
                        <h4><a href="http://fountaincitydev.com/" target="_blank">Personal Site</a></h4>
                        <h4><a href="https://www.linkedin.com/in/connor-dunn-396188233/" target="_blank"><i class="bx bxl-linkedin"></i></a></h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        <img src="~/assets/img/Clasmates/Jazmine.jpg" class="testimonial-img" alt="Jazmine Rizo">
                        <h3>Jazmine Rizo</h3>
                        <h4><a href="http://jazminerizo.com" target="_blank">Personal Site</a></h4>
                        <h4><a href="https://www.linkedin.com/in/jazmine-rizo-7aa283232/" target="_blank"><i class="bx bxl-linkedin"></i></a></h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        <img src="~/assets/img/Clasmates/Alex.gif" class="testimonial-img" alt="Alex Klee">
                        <h3>Alex Klee</h3>
                        <h4><a href="http://alexklee.net/" target="_blank">Personal Site</a></h4>
                        <h4><a href="https://www.linkedin.com/in/alex-klee-6b962a232/" target="_blank"><i class="bx bxl-linkedin"></i></a></h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        <img src="~/assets/img/Clasmates/Michael.jpg" class="testimonial-img" alt="Michael Redifer">
                        <h3>Michael Redifer</h3>
                        <h4><a href="http://michaelredifer.com/" target="_blank">Personal Site</a></h4>
                        <h4><a href="" target="_blank"><i class="bx bxl-linkedin"></i></a></h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        <img src="~/assets/img/Clasmates/Ben.jpg" class="testimonial-img" alt="Benjamin McDaniel" />
                        <h3>Benjamin McDaniel</h3>
                        <h4><a href="" target="_blank">Personal Site</a></h4>
                        <h4><a href="https://www.linkedin.com/in/benjaminjmcd" target="_blank"><i class="bx bxl-linkedin"></i></a></h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        <img src="~/assets/img/Clasmates/Justin.jpg" class="testimonial-img" alt="Justin Peacock" />
                        <h3>Justin Peacock</h3>
                        <h4><a href="http://projectpeacock.net/" target="_blank">Personal Site</a></h4>
                        <h4><a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" target="_blank"><i class="bx bxl-linkedin"></i></a></h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                        <img src="~/assets/img/Clasmates/Ian.jpg" class="testimonial-img" alt="Ian McClaflin" />
                        <h3>Ian McClaflin</h3>
                        <h4><a href="http://ianmcclaflin.com/" target="_blank">Personal Site</a></h4>
                        <h4><a href="https://www.linkedin.com/in/ian-mcclaflin-982755232/" target="_blank"><i class="bx bxl-linkedin"></i></a></h4>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Please feel free to contact me anytime by Email or by phone during daytime hours (8 a.m. - 6 p.m CDT).</p>
        </div>

        <div class="row" data-aos="fade-in">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Wichita, KS 67203</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>seanamckinney8@gmail.com</p>
                        <p>seanamckinney8@outlook.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+1 (316) 721-5719</p>
                    </div>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25253.14325298256!2d-97.3830595474457!3d37.70458460282333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87bae10b71c71d6d%3A0xa2bacc53b8f9862b!2sWichita%2C%20KS%2067203!5e0!3m2!1sen!2sus!4v1644276873702!5m2!1sen!2sus" width="100%" height="290" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>

            </div>

            @*<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">**@
            <div class="col-lg-7 align-items-stretch">
                <div id="MessageContent"></div>
                <div id="contactConfirmation"></div>
                <div id="contactForm">
                    @Html.Partial("ContactAjax", new PersonalSiteMVC.UI.Models.ContactViewModel())
                </div>
            </div>
            @*<form action="forms/contact.php" method="post" role="form" class="php-email-form">*@
            @*<div class="row">
                    <div class="form-group col-md-6">
                        <label for="name">Your Name</label>
                        <input type="text" name="name" class="form-control" id="name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name">Your Email</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Subject</label>
                    <input type="text" class="form-control" name="subject" id="subject" required>
                </div>
                <div class="form-group">
                    <label for="name">Message</label>
                    <textarea class="form-control" name="message" rows="10" required></textarea>
                </div>
                <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>*@
            @*</form>*@
            @*</div>*@

        </div>

    </div>
</section><!-- End Contact Section -->

@section scripts{
    <script>

        //**** AJAX ***//
        //The notification(message content) will show info about messages being sent and if they were successful
        //jQuery AJAX will:
        //--call the POST AJAX Create from the Home Controller
        //--pass json data from the form
        //--on success:
        //      **notify the user that their message was sent. That notification will only show for 5 seconds
        //      **reset our contact form
        //--on Failure:
        //  ** notify the user of the error


        $("#ContactCreateForm").submit(function (e) {
            var formData = $(this).serializeArray();
            e.preventDefault();
            $("#MessageContent").html("<div class='alert-info'>Please wait while your message is sent...</div>");
            $.ajax({
                url: "@Url.Action("ContactAjax", "Home")",
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (data) {
                    $("#MessageContent").hide();
                    $("#contactConfirmation").load('@Url.Action("ContactConfirmation", "Home")', { name: data.Name, email: data.Email }).show();
                    $("#ContactCreateForm")[0].reset();
                    SetTimeout(function () {
                        $("#contactConfirmation").fadeToggle("slow");
                    }, 5000);
                },
                error: function (e) {
                    $("#MessageContent").html(
                        "<div class='alert alert-warning'>There was an error. Please try again later or contact the site admin.</div>"
                    );
                }
            });
        });

    </script>

}